In [41]:
import pandas as pd
soccer_3 = pd.read_csv('soccer_posts_thu.csv')
nfl_3 = pd.read_csv('nfl_posts_thu.csv')
soccer_2 = pd.read_csv('soccer_posts_wed.csv')
#nfl_2 = pd.read_csv('nfl_posts_wed.csv')
nfl_1 = pd.read_csv('nfl_posts.csv')
#soccer_1 = pd.read_csv('soccer_posts.csv')

In [42]:
nfl_c = pd.concat((nfl_1, nfl_3), axis = 0)

/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [43]:
nfl_1.shape

(2462, 93)

In [44]:
nfl_c.shape

(4939, 93)

In [45]:
soccer_c = pd.concat((soccer_2, soccer_3), axis = 0)

/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [46]:
soccer_c.shape

(4935, 93)

In [47]:
sred = pd.concat((soccer_c, nfl_c), axis = 0)

In [50]:
sred = sred['title'] & sred['subreddit']

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [51]:
sred[["title", "subreddit"]].to_csv('combined.csv', index=True)

In [53]:
csv_w = pd.read_csv('combined.csv')

In [54]:
csv_w.head()

   Unnamed: 0                                              title subreddit
0           0              World Football Wednesday [2018-09-05]    soccer
1           1                      Daily Discussion [2018-09-05]    soccer
2           2  The Premier League will trial VAR at 15 matche...    soccer
3           3  Harry Maguire admits he doesn't understand the...    soccer
4           4  Didier Drogba: "I asked my son who his favorit...    soccer

In [56]:
csv_w.drop('Unnamed: 0', axis = 1, inplace=True)

In [59]:
csv_w.tail()

                                                  title subreddit
9869  Ravens have been fielding trade calls on QB Ro...       nfl
9870  Source: the Panthers have converted $6.8M of L...       nfl
9871  One team to watch in the Khalil Mack sweepstak...       nfl
9872  Buccaneers keep their entire draft class on th...       nfl
9873  Pelissero: One impact of the Khalil Mack deal:...       nfl

In [69]:
csv_w.loc[csv_w['subreddit'] != 'nfl', 'class'] = int(0)

csv_w.loc[csv_w['subreddit'] != 'soccer', 'class'] = int(1)

In [72]:
csv_w.tail()

                                                  title subreddit  class
9869  Ravens have been fielding trade calls on QB Ro...       nfl    1.0
9870  Source: the Panthers have converted $6.8M of L...       nfl    1.0
9871  One team to watch in the Khalil Mack sweepstak...       nfl    1.0
9872  Buccaneers keep their entire draft class on th...       nfl    1.0
9873  Pelissero: One impact of the Khalil Mack deal:...       nfl    1.0

In [83]:
csv_w['class'] = csv_w['class'].astype(int)

In [86]:
csv_w.to_csv('good_data.csv')